body {
	margin:0;
	padding:0;
	background-color: #b71c1c;
}
.cermai-header {
	display: none
}
.cermai-logo {
	font-family: 'Roboto Black';
	color: #DDD;
	font-size: 5em;
	text-shadow:1px 1px 2px #000;
	margin: 0px;
	margin-top: 2em;
	transition: all 200ms ease-in-out;
}
.cermai-container {
	width:60%;
	margin:0px auto;
}
.cermai-tagline {
	font-family: 'Roboto Light';
	font-size: 2em;
	margin: 0px;
	text-shadow : 1px 1px 5px #000;
	color: #FFF;
}
.cermai-loading {
	width: 10em;
	height: 10em;
	border-radius: 50%;
	border-right:.5em solid#F80;
	border-left: .5em solid#089;
	border-top: .5em solid#F80;
	border-bottom: .5em solid#089;
	margin-top: 10em;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}


/*Loading Animation*/
@keyframes spin {
from {
	transform : rotate(360deg);
}
to {
	transform : rotate(0deg);
}
}
@-webkit-keyframes spin {
from {
	transform : rotate(360deg);
}
to {
	transform : rotate(0deg);
}
}
@-moz-keyframes spin {
from {
	transform : rotate(360deg);
}
to {
	transform : rotate(0deg);
}
}

@font-face {
	font-family: 'Roboto Black';
	src : url(/font/Roboto-Black.ttf);
}

@font-face {
	font-family: 'Roboto Light';
	src : url(/font/Roboto-Light.ttf);
}
@font-face {
	font-family: 'Roboto Thin';
	src : url(/font/Roboto-Thin.ttf);
}