html
	head
		title Welcome on CermaiJS
		link(rel='stylesheet' href='/style/main.css')
	body
		div.cermai-container
			center
				div.cermai-loading
				div.cermai-header
					h1.cermai-logo CERMAIJS
					h2.cermai-tagline FRAMEWORK NODEJS WITH MONGODB
		script(src='/js/jquery.min.js')
		script(src='/js/cermai-style.js')