//- extends layout

//- block content
div(style="text-align:center;")
	h1 HORROR PAGES
	h3= message
	p(style="font-size:9em;padding:0;margin:0;")= error.status
	p(style="font-align:left")
div
	pre(style="font-size:.6em;padding-left:15%") #{error.stack}
//- pre=error.stack
